Power	#157.	 ascendency, sway, control
Influence	#175.	 control, domination, pull [Slang]
Hearing	#418.	 eardrum, tympanum, tympanic membrane. [devices to aid human hearing by amplifying sound] ear trumpet, speaking trumpet, hearing aid, stethoscope. [distance within which direct hearing is possible] earshot, hearing distance, hearing, hearing range, sound, carrying distance. [devices for talking beyond hearing distance: list] telephone, phone, telephone booth, intercom, house phone, radiotelephone, radiophone, wireless, wireless telephone, mobile telephone, car radio, police radio, two-way radio, walkie-talkie [Mil.], handie-talkie, citizen's band, CB, amateur radio, ham radio, short-wave radio, police band, ship-to-shore radio, airplane radio, control tower communication
Impossibility	#471.	 beyond control
Resolution	#604.	 self control, self command, self possession, self reliance, self government, self restraint, self conquest, self denial
Direction	#693.	 control, charge
Direction	#693.	 board of control &c. (council)
Direction	#693.	 overlook, control, keep in order, look after, see to, legislate for
Council	#696.	 board of control, board of works
Unskillfulness	#699.	 lose control, lose control of oneself, lose one's head, lose one's cunning. begin at the wrong end
Unskillfulness	#699.	 lose control, lose control of oneself, lose one's head, lose one's cunning. begin at the wrong end
Opposition	#708.	 control &c. (restrain)
Authority	#737.	 dictation, control. hold, grasp
Authority	#737.	 under control. in the name of, by the authority of, de par le Roi [Fr.], in virtue of
Authority	#737.	Government seigniory, seigniority. rule, sway, command, control, administer
Government	Phr.	 seigniory, seigniority. rule, sway, command, control, administer
Government	#737a.	 seigniory, seigniority. rule, sway, command, control, administer
Disobedience	#742.	 breachy, insubordinate, impatient of control, incorrigible
Obedience	#743.	 under beck and call, under control. restrainable
Subjection	#749.	 in subjection to, under control
Restraint	#751.	 discipline, control. confinement
Restraint	#751.	 curb, control
Economy	#817.	 parsimony &c.. cost-cutting, cost control. V. be economical &c. adj.
