Conformity	#82.	 follow observe the rules, go by the rules, bend to the rules, obey the rules, obey the precedents
Conformity	#82.	 follow observe the rules, go by the rules, bend to the rules, obey the rules, obey the precedents
Conformity	#82.	 follow observe the rules, go by the rules, bend to the rules, obey the rules, obey the precedents
Conformity	#82.	 follow observe the rules, go by the rules, bend to the rules, obey the rules, obey the precedents
Imagination	#515.	 imagination rules the world" [Napoleon]
Money	#800.	 Gelt regiert die Welt [G.], money rules the world, money makes the world go round
